.Cart {
  text-align: center;
  margin-top: 30px;
}

td {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}

.line {
  border-top: 1px solid black;
  margin-left: 50px;
  margin-right: 550px;
}

.total {
  margin-right: 200px;
}
